@*@model TronCell.Queue.Web.Models.QueueCall*@
@using Webdiyer.WebControls.Mvc;
@model PagedList<TronCell.Queue.Web.Models.QueueCall>

@{
    ViewBag.Title = "报表统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentTab = "HistoryTab";
}
@Html.Partial("ManagerTabView")
<h2>报表数据</h2>
<table class="table">
    <tr>
        <th>
            取号单号
        </th>
        <th>
            收料人员
        </th>
        <th>
            创建时间
        </th>
        <th>
            开始收货时间
        </th>
        <th>
            结束收货时间
        </th>
        <th>
            收料区域
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QueueNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveArea.AreaName)
            </td>
        </tr>
    }

    @Html.Pager(Model, new PagerOptions { PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })

</table>
