@model TronCell.Queue.Web.Models.ReceiveArea

@{
    ViewBag.Title = "添加窗口";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="updata_heade">添加新收料窗口</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary( "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AreaName, new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.AreaName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AreaName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wharfs, new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Wharfs, new SelectList(Enum.GetValues(typeof(TronCell.Queue.Web.Models.Wharfs))))
                @Html.ValidationMessageFor(model => model.Wharfs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-1 col-md-6">
                <input type="submit" value="确认添加" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
