@*@model IEnumerable<TronCell.Queue.Web.Models.ReceiveArea>*@
@using Webdiyer.WebControls.Mvc;
@model PagedList<TronCell.Queue.Web.Models.ReceiveArea>
@{
    ViewBag.Title = "窗口管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentTab = "WindowTab";
}
@Html.Partial("AdminTabView")

<p>
    @Html.ActionLink("添加新窗口", "Create", new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            操作
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ReceiveAreaId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ReceiveAreaId })
        </td>
    </tr>
}

</table>
@Html.Pager(Model, new PagerOptions { PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
