@*@model IEnumerable<TronCell.Queue.Web.Models.ReceiveArea>*@
@using Webdiyer.WebControls.Mvc;
@model PagedList<TronCell.Queue.Web.Models.ReceiveArea>
@{
    ViewBag.Title = "窗口管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentTab = "WindowTab";
}
@Html.Partial("AdminTabView")

<div class="col-md-2" style="float: right;margin: 5px 0px">
    @Html.ActionLink("添加新窗口", "Create", null, new { @class = "btn btn-primary btn-block" })
</div>
<table class="table table-bordered  table-striped table-hover">
    <thead>
        <tr class="table_box_head">
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.ReceiveAreaId },new { @class = "btn-primary btn-sm"}) &nbsp;|&nbsp;
                    @*@Html.ActionLink("删除", "Delete", new { id = item.ReceiveAreaId }, new { @class = "btn btn-danger", @role = "button" })*@
                    @Ajax.ActionLink("删除", "Delete", new { id = item.ReceiveAreaId }, new AjaxOptions { HttpMethod = "POST", Confirm = "确定要删除该用户信息吗?", OnSuccess = "doSuccessDelete();" }, new { @class = "btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model, new PagerOptions { PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
<script type="text/javascript">
    function doSuccessDelete() {
        location.reload();
    }
</script>