@model IEnumerable<TronCell.Queue.Web.Models.QueueCall>
@{
    ViewBag.Title = "排队管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentTab = "QueueTab";
}
@if (User.IsInRole("Manager"))
{
    @Html.Partial("ManagerTabView")
}
else if (User.IsInRole("Receiver"))
{
    @Html.Partial("~/areas/receiver/views/shared/receivertabview.cshtml")
}
<h2>排队管理</h2>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="table_box_head">
            <th>
                排队号码
            </th>
            <th>
                送货码头
            </th>
            <th>
                供应商手机号
            </th>
            <th>
                供应商名称
            </th>
            <th>
                车牌号
            </th>
            <th>
                送货人
            </th>
            <th>
                创建时间
            </th>
            @if (User.IsInRole("Manager"))
            {
                <th>
                操作
                </th>
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueNum)
                </td>
                <td>
                    @Html.DisplayFor(moedeItem=>item.Wharfs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueUser.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueUser.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueUser.CarNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueueUser.TrueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                @if (User.IsInRole("Manager"))
                {
                <td>
                    @Html.ActionLink("插队", "JumpQueue", new { id = item.QueueCallId })
                </td>
                }
            </tr>
        }
    </tbody>

</table>
