@using System.Globalization
@model TronCell.Queue.Web.Models.QueueCall

@{
    ViewBag.Title = "当前收料信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentTab = "ReceiverTab";
}
@Html.Partial("ReceiverTabView")
<h2>收料操作,当前收料区域为 @Html.DisplayTextFor(model => model.ReceiveArea.AreaName) </h2>
<hr />

<h4>当前送货详细信息</h4>
@if (Model != null)
{
    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => Model.QueueCallId)
        <div class="form-group">
            <label class="control-label col-md-2">
                请扫描二维码:
            </label>
            <div class="col-md-10">
                @Html.TextBox("userCoderNum", "", new { @class = "form-control", @onkeypress = "EnterPress(event)" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                排队号：
            </label>
            <div class="col-md-10">
                <input id="queueNumStr" type="hidden" value="@Model.QueueNum" />
                <input id="cardNumStr" type="hidden" value="@Model.QueueUser.IDCard" />
                <label class="col-md-10 control-label">@Model.QueueNum</label>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">
                送货人：
            </label>
            <label class="col-md-10 control-label">
                @Html.DisplayTextFor(model => model.QueueUser.UserName)
            </label>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">
                手机号：
            </label>
            <label class="col-md-10 control-label">
                @Html.DisplayTextFor(model => model.QueueUser.PhoneNumber)
            </label>
        </div>
        <div class="col-md-offset-2 col-md-8">
            @Html.ActionLink("过号", "Details", new { id = Model.ReceiveAreaId, methodName = "PassQueue", queueCallId = Model.QueueCallId }, new { @class = "btn btn-default" })
            @Html.ActionLink("有问题的收料", "Details", new { id = Model.ReceiveAreaId, methodName = "Problematic", queueCallId = Model.QueueCallId }, new { @class = "btn btn-danger" })
            <a id="ReceivingLink" class="btn btn-primary invisible" role="button" href="/Receiver/ChoiceArea/Details?id=@Model.ReceiveAreaId&&methodName=NextQueue&&queueCallId=@Model.QueueCallId">正常收料(下一个)</a>
        </div>
    </div>

    <script type="text/javascript">
        function EnterPress(e) { //传入 event
            var e = e || window.event;
            if (e.keyCode == 13)
            {
                cheackValue();
            }
        }

        function cheackValue() {
            var userCoderNum = document.getElementById('userCoderNum').value;
            var userQueueNum=document.getElementById("queueNumStr").value;
            var cardNumStr=document.getElementById("cardNumStr").value;
            var idcardn=cardNumStr.substr(cardNumStr.length-8,7);
            var result=idcardn + userQueueNum;

            if(userCoderNum.indexOf(result)>-1) {
                $('#ReceivingLink').removeClass("invisible");
                //document.getElementById("ReceivingLink").removeClass("invisible");
                $.ajax({

                    type: "POST",

                    url: "/ChoiceArea/Details",

                    data: ("id=" + @Model.ReceiveAreaId + "&&methodName=startRecive&&queueCallId=" + @Model.QueueCallId.ToString(CultureInfo.InvariantCulture)) ,

                    success: function (sesponseTest) {

                        $("#txt1").val(sesponseTest);
                    }
                });
            }
            else
            {
                alert("请按照正确的排队号码进行收料！");
            }
        }
    </script>
}
