@model TronCell.Queue.Web.Models.ApplicationUser
@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户个人信息</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            用户名
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.UserName)
        </dd>

        <dt>
           真实姓名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrueName)
        </dd>

        <dt>
         手机号码   
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dd>

        <dt>
            身份证号码
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDCard)
        </dd>

        <dt>
            公司名称
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dd>

        <dt>
            车牌号
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarNum)
        </dd>
    </dl>
</div>
@Html.ActionLink("返回首页", "Login", "Account")
